<main>
    <h1>Buscador de Series de Anime</h1>
    <section>
        <input type="text" class="js-input" name="text">
        <input type="button" name="button" value="Buscar" class="js-btn">
        <input type="button" name="reset" value="reset" class="js-reset">
    </section>
    <section class="section-container">
        <section>
            <h3>Series Favoritas</h3>
            <section class="section_favorite js-favorite">

            </section>
        </section>
        <section>
            <h3>Resultados</h3>
            <section class="section_results js-results">

            </section>
        </section>
    </section>
</main>