$colorFamily:'Playfair Display',
serif;
$colorsBackground: rgba(247, 150, 192, 1);
$colorsLinearBack:rgba(118, 174, 241, 1);

@mixin inputBtns() {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin: 5px;
    transition: border linear 1s;
}

@mixin containers() {
    background: $colorsBackground;
    background: radial-gradient(circle, $colorsBackground 0%, $colorsLinearBack 100%);
    overflow: auto;
    height: 500px;
    margin: 15px;
}

@mixin containerTitle() {
    font-size: 1.3rem;
    margin: 10px;
    color: white;
    text-align: center;
    text-decoration: underline;
    font-family: $colorFamily;
}