.section-container{
  display:flex;
  flex-direction: row;
}
.section_results{
  width:100%;
  display:flex;
  flex-wrap: wrap;
justify-content: space-around;
  &--styles{
    width:250px;
    background-color:blueviolet;
  }
}
.remove{
  width:100%;
  &-movie{
  width: 30px;
  height:30px;
  font-size: 20px;
  background-color: black;
  color:white;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  }
}
